<?xml version="1.0"?>
<launch>
  <!-- MAIN SETTINGS -->
  <!-- Running the controller implicitly(true) or explicitly(false) -->
  <arg name="autorun"   default="true"/>
  <!-- The namespace of the loaded urdf model -->
  <arg name="ns_robot" default="/me5"/>

  <!-- FC CONTROLLER SETTINGS -->
  <arg name="fc_frame" default="base"/>

  <!-- Frame names in the urdf model -->
  <arg name="frame_world"         default="elfin_base"/>
  <arg name="frame_arm_base_link" default="elfin_base_link"/>
  <arg name="frame_arm_end_link"  default="elfin_end_link"/>
  <arg name="frame_arm_tool_link" default="robotiq_gripper_base"/>
  <arg name="frame_ft_sensor"     default="robotiq_ft_frame_id"/>

  <!-- Topic names from low-level controller-->
  <arg name="topic_arm_state"     default="/me5/joint_states"/>
  <arg name="topic_ee_twist_cmd"  default="/me5/arm_velocity_controller/cmd_vel_cart"/>

  <!-- Topic names for force controller -->
  <arg name="topic_wrench_external" default="/me5/robotiq_ft_wrench"/>
  <arg name="topic_wrench_desired"  default="force_control/wrench_desired"/>
  <arg name="topic_twist_desired"   default="force_control/twist_desired"/>

  <!-- Include robot setup launch file (just for demonstration)-->
  <!-- This can be CANCELED if the robot has been bring up through other approach -->
  <!--<include file="$(find force_control)/launch/robot_bringup.launch" /> -->

  <group ns="elfin">
    <param name="ns_robot" value="$(arg ns_robot)"/>

    <node pkg="force_control" type="force_control_node" name="fc_node" output="screen" >
      <rosparam file="$(find force_control)/config/fc_params.yaml" command="load" />

      <param name="autorun"   value="$(arg autorun)"/>
      <param name="fc_frame"  value="$(arg fc_frame)"/>
      <param name="frame_world" value="$(arg frame_world)"/>
      <param name="frame_arm_base_link" value="$(arg frame_arm_base_link)"/>
      <param name="frame_arm_end_link" value="$(arg frame_arm_end_link)"/>
      <param name="frame_arm_tool_link" value="$(arg frame_arm_tool_link)"/>
      <param name="frame_ft_sensor" value="$(arg frame_ft_sensor)"/>
      <param name="topic_arm_state" value="$(arg topic_arm_state)"/>
      <param name="topic_ee_twist_cmd" value="$(arg topic_ee_twist_cmd)"/>
      <param name="topic_wrench_external" value="$(arg topic_wrench_external)"/>
      <param name="topic_wrench_desired" value="$(arg topic_wrench_desired)"/>
      <param name="topic_twist_desired" value="$(arg topic_twist_desired)"/>

    </node>
  </group>  
</launch>
